/* scantronStyles.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
  }
  
  .option {
    margin-right: 10px;
  }
  
  .submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
  }
  