.container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button {
    background-color: green;
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
